data_engineering/spark_review/data/
/data_engineering/spark_review/data/taxi/
/data_engineering/airflow_review/data/
/data_engineering/kafka_review/data/
/data_engineering/flink_review/flink_kafka/data/
/data_engineering/flink_review/table_api/trips/
/data_engineering/flink_review/twitter/data/
/hanyang_ml/0428_ml/data/
/hanyang_ml/question2/data/
/hanyang_ml/question4/data/
